#content_wrapper {
  display: flex;
  margin-top: 44px;
  min-height: calc(100vh - 44px);
  width: 950px;
}

#side_bar {
  width: 30%;
}

#main_body {
  width: 70%;
  height: calc(100vh - 44px);
  background-color: rgb(31,31,31);
}

.folder {
  padding: 9px 15px;
  font-size: 14px;
}